.container {
    margin-top: 200px;
    margin-left: 30%;
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.popover {
    display: none;
    margin-top: 5px;
    border-style: ridge;
    text-align: left;
    padding: 5px;
    width: inherit;
    position: absolute;
    bottom: 50px;
}

.popover__active {
    display: block;
}

.popover__title {
    background-color: hsl(0, 0%, 90%);
    padding: 5px;
    font-size: large;
}

.popover__text {
    padding: 5px;
    
}

.button {
    padding: 10px;
    background-color: rgb(248, 85, 85);
    font-size: 15px;
    color: white;
    border-radius: 7px;
}