.container {
    position: relative;
    width: 600px;
    margin: auto;
}

.ticket__header {
    display: flex;
    justify-content: flex-end;
}

.ticket__container {
    display: flex;
    justify-content: center;
}

.ticket__container-list {
    list-style-type: none;
}

.ticket__container-list__item {
    width: max-content;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.list__item {
    display: flex;
    align-items: center;
}

.item__checkbox-status, .item__checkbox-edit, .item__checkbox-delete {
    appearance: none;
    border: 2px solid rgb(220, 221, 220);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.item__name, .item__date {
    margin: 0px 20px;
}

.ticket__new {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    justify-content: center;
    padding: 10px;
    position: absolute;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: whitesmoke;
}

.newTicket__header {
    width: inherit;
    text-align: center;
}

.ticket__discription {
    width: inherit;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.input__discription, .input__discription-full {
    width: inherit;
    /* margin-top: 20px; */
}

.input__discription-full {
    height: 40px;
}

button {
    margin: 10px;
}