.container {
  display: flex;
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 20px 20px;
	background-position: center center;
  border-color: lightgray;
  border-width: 30px 10px;
  border-style: solid;
  border-radius: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 250px; 
  min-height: 50vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.container__fixed {
  background-color: darkgray;
  position: relative;
}

.top-tasks {
  width: inherit;
}

.container__title {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.top-tasks__field {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
  width: inherit;
}

.top-tasks__field:focus {
  outline: 2px solid rgb(47, 213, 255);
  outline-offset: 3px;
}

.pinned {
  width: inherit;
}

.pinned__empty {
  display: block;
  text-align: center;
}
.all-tasks {
  width: inherit;
}

.all-tasks__task {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid green;
  padding: 5px 10px;
  width: inherit;
  border-radius: 12px;
}

.modal {
  display: none;
  position: absolute;
  justify-content: center;
  align-items:flex-start;
  text-align: center;
  padding: 4px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  background: white;
  overflow: auto;
  border: 4px outset;
  margin: auto;
}

.modal::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal__active {
  display: flex;
}

.modal__button {
  position: absolute;
  padding: 5px;
  bottom: 20px;
  width: 50%;
  border-radius: 3px;
  border-color: cyan;
}

.modal-pinned_check {
  appearance: none;
  border: 2px solid springgreen;
  border-radius: 7px;
  width: 16px;
  height: 16px;
}

.modal-pinned_check:checked {
  border: 2px solid;
  border-radius: 7px;
  background-color: tomato;
}

.found__text {
  display: block;
  text-align: center;
}